html,
body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: hsl(0, 0%, 17%)
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 600px;
  width: 100%;
}

.map-wrapper {
  position: relative;
}

.search-hero {
  background: url("../src/assets/pattern-bg-desktop.png") no-repeat center/cover;
  padding: 24px 16px 90px;
  text-align: center;
  position: relative;
  max-height: 220px;
}

.search-title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.search-form {
  max-width: 520px;
  margin: 0 auto;
}

.search-input.form-control {
  border: none;
  height: 45px;
  width: 325px;
  padding: 0 16px;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .10);
}

.search-input-group {
  align-items: stretch;
}

.search-input {
  border: none;
  padding: 0;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .10);
}

.search-btn {
  flex: 0 0 45px;
  border: none;
  border-radius: 0 12px 12px 0;
  background: #1b1b1b;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .10);
  padding: 0;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .14), 0 0 0 3px rgba(13, 110, 253, .25);
}

.search-btn:focus {
  box-shadow: 0 10px 24px rgba(0, 0, 0, .14), 0 0 0 3px rgba(13, 110, 253, .25);
}

.search-btn img {
  width: 16px;
  height: 16px;
}


.results-display-card {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 10000;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
}

.card-body {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.info-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10px;
}

.info-col+.info-col {
  border-left: 1px solid hsl(0, 4%, 51%);
  padding-left: 28px;
}

.info-title {
  color: hsl(0, 0%, 58%);
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
}

.info-value {
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 17%);
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}